<!DOCTYPE html>
<html>
<head>
  <title>Exito</title>
  
</head>
<body>
  <h1>Se agrego con exito !!!</h1>
  
  <!-- Botón para cerrar la pestaña -->
  <a href="/" >
    <button>Volver</button>
  </a>
</body>
</html>
